/*LEGENDATA
Honey - #ffb703
Dark Blue - #219ebc
Mid Blue - #73bfdc
Light Blue - #8ecae6
*/

@import "font.css";

#profile {
    -fx-background-color: #73bfdc;
}

.menu {
    -fx-background-color: #8ecae6;
    -fx-padding: 0px;
    -fx-border-width: 3px 0px 0px 0px;
    -fx-border-color: #81c5e1;
    -fx-font-family: "Open Sans";
    -fx-font-weight: 700;
}

.menu-button {
    -fx-background-color: #8ecae6;
    -fx-pref-width: 200;
    -fx-pref-height: 45;
    -fx-alignment: center_left;
    -fx-padding: 0 0 0 10;
    -fx-font-size: 18;
}

.menu-button:hover {
    -fx-background-color: #219ebc;
    -fx-padding: 0 0 0 20;
    -fx-border-color: #ffb703;
    -fx-border-width: 0px 5px 0px 0px;
    -fx-text-fill: WHITE;
    -fx-font-family: "Open Sans SemiBold";
}

.menu-button:hover .menu-icon {
    -fx-fill: WHITE;
}

.menu-button-active {
    -fx-background-color: #ffb703;
    -fx-text-fill: WHITE;
}

.menu-button-active .menu-icon {
    -fx-fill: WHITE;
}

.menu-button-active:hover {
    -fx-background-color: #ffb703;
    -fx-padding: 0 0 0 20;
}

.menu2 {
    -fx-background-color: #8ecae6;
}

.menu2-button {
    -fx-background-color: #8ecae6;
}

.menu2-button:hover {
    -fx-background-color: #219ebc;
}

.menu2-button:hover .menu-icon {
    -fx-fill: WHITE;
}

/*    Dropdown buttons start    */

.menu-button-dropdown-container {
    -fx-pref-height: 45;
    -fx-pref-width: 200;
    -fx-background-color: #8ecae6;
    -fx-padding: 0;
}

.menu-button-dropdown {
    -fx-background-color: #8ecae6;
    -fx-pref-height: 45;
    -fx-pref-width: 160;
    -fx-alignment: center_left;
    -fx-padding: 0 0 0 10;
    -fx-font-size: 18;
}

.menu-button-dropdown-arrow {
    -fx-background-color: #8ecae6;
    -fx-pref-height: 45;
    -fx-pref-width: 40;
    -fx-alignment: center;
    -fx-font-size: 18;
}

.menu-button-dropdown-container:hover .menu-button-dropdown-arrow {
    -fx-background-color: #ffb703;
}

.menu-button-dropdown-container:hover .menu-button-dropdown-arrow .menu-icon {
    -fx-fill: WHITE;
}

.menu-button-dropdown-container:hover .menu-button-dropdown {
    -fx-background-color: #219ebc;
    -fx-padding: 0 0 0 15;
    -fx-text-fill: WHITE;
}

.menu-button-dropdown-container:hover .menu-button-dropdown .menu-icon {
    -fx-fill: WHITE;
}

.menu-button-dropdown-item {
    -fx-background-color: #73bfdc;
    -fx-pref-width: 200;
    -fx-pref-height: 30;
    -fx-alignment: center_left;
    -fx-padding: 0 0 0 35;
    -fx-font-size: 18;
}

.menu-button-dropdown-item:hover {
    -fx-background-color: #219ebc;
    -fx-padding: 0 0 0 45;
    -fx-text-fill: WHITE;
}

.menu-button-dropdown-active .menu-button-dropdown-arrow {
    -fx-background-color: #ffb703;
}

.menu-button-dropdown-active .menu-button-dropdown-arrow .menu-icon {
    -fx-fill: WHITE;
}

.menu-button-dropdown-active .menu-button-dropdown {
    -fx-background-color: #219ebc;
    -fx-padding: 0 0 0 15;
    -fx-text-fill: WHITE;
}

.menu-button-dropdown-active .menu-button-dropdown .menu-icon {
    -fx-fill: WHITE;
}

.menu-button-dropdown-item.menu-button-active{
    -fx-background-color: #ffb703;
    -fx-text-fill: WHITE;
}

.menu-button-dropdown-item.menu-button-active .menu-icon{
    -fx-text-fill: WHITE;
}

/*    Dropdown buttons end    */

.crud-button {
    -fx-background-color: WHITE;
    -fx-border-color: #73bfdc;
    -fx-border-width: 3;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-insets: 1, 9, 9, 10, 11;
}

.crud-search-button {
    -fx-background-radius: 10;
}