@import "font.css";

#backgroundpane {
    -fx-background-image: url('../images/login_backgorund.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
}

#formpane {
    -fx-background-radius: 50;
    -fx-background-color: rgba(229, 229, 229, 0.4);
}

#usernamefield {
    -fx-background-color: rgb(229, 229, 229);
    -fx-background-radius: 50;
}

#passwordfield {
    -fx-background-color: rgb(229, 229, 229);
    -fx-background-radius: 50;
}

#loginbutton {
    -fx-background-color: #FFB703;
    -fx-background-radius: 50;
}

.errorlabel {
    -fx-text-fill: RED;
    -fx-font-size: 14;
}
